<!--===| Event Banner Start|===-->
<section class="banner-wrapper events-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tin tức</h1>
                <p>Cập nhật thường xuyên tin tức & sự kiện</p>
            </div>
        </div>
    </div>
</section>
<!--===| Event Banner End|===-->

<!--==| Events Content Start|==-->
<section class="event-contents-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8">
                <div class="events-contents-wrap-three">
                    <div class="event-content">
                        <% image_tag(article_image(@blog.image.large, 'large'), alt: @blog.name) %>
                        <div class="date-image">
                            <div class="date-text">
                                <p><%= @blog.created_at.strftime('T%m/%Y') %></p>
                                <span><%= @blog.created_at.strftime('%d') %></span>
                            </div>
                            <div class="date-icon"></div>
                        </div>
                    </div>
                    <div class="event-heading">
                        <h1><%= @blog.name %></h1>
                        <p><%= @blog.content %></p>

                        <!--<blockquote class="blockquote-reverse">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                          <footer>Jhone Doe <cite title="Source Title">Area Director</cite></footer>
                        </blockquote>-->
                    </div>
                </div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
                <div class="right-side-image">
                    <h3 class="h3">Bài viết khác</h3>
                    <% @newest_blogs.each do |blog| %>
                        <div class="media event-media">
                            <div class="media-left media-top">
                                <%= link_to image_tag(article_image(blog.image.small, 'small'), alt: blog.name), article_link(blog) %>
                            </div><!-- media left-->
                            <div class="media-body">
                                <h3><%= link_to blog.name, article_link(blog) %></h3> 
                                <p class="date-of-event"><%= blog.created_at.strftime("%d") %></p> 
                                <p class="month-of-event"><%= blog.created_at.strftime("%b %Y") %><br><span><%= blog.created_at.strftime("%a") %></span></p>
                            </div>
                        </div>
                    <% end %>
                </div>
			</div>
		</div>
	</div>
</section>
<!--==| Events Content End|==-->