<!--===| Event Banner Start|===-->
<section class="banner-wrapper events-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Tin tức</h1>
                <p>Cập nhật thường xuyên tin tức & sự kiện</p>
            </div>
        </div>
    </div>
</section>
<!--===| Event Banner End|===-->

<!--==| Events Content Start|==-->
<section class="event-contents-wrapper">
	<div class="container">
		<div class="row">
            <% @blogs.each do |blog| %>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="events-contents-wrap-one">
                        <div class="event-content">
                            <%= link_to image_tag(article_image(blog.image.large, 'large'), alt: blog.name), article_link(blog) %>
                            <div class="date-image">
                                <div class="date-text">
                                    <p><%= blog.created_at.strftime('T%m/%Y') %></p>
                                    <span><%= blog.created_at.strftime('%d') %></span>
                                </div>
                                <div class="date-icon"></div>
                            </div>
                        </div>
                        <div class="event-heading">
                            <h1>
                                <%= link_to blog.name, article_link(blog) %>
                            </h1>
                            <p><%= short_text(blog.content, 80) %>...</p>
                            <%= link_to 'Chi tiết', article_link(blog), class: 'btn btn-imfo btn-read-more' %>
                        </div>
                    </div>
                </div>
            <% end %>
		</div>
	</div>
</section>
<!--==| Events Content End|==-->