
<% if !@testimonials.empty? %>
<!--===| Testimonial Start|===-->
<section class="section-padding testimonial-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                <h1>ý kiến khách hàng</h1>
                <div id="testimonial" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <% @testimonials.each_with_index do |testimonial,index| %>
                            <div class="item <%= 'active' if index == 0 %>">
                                <%= image_tag(testimonial.logo.small, alt: testimonial.author) %>
                                <p>
                                  <%= testimonial.content %>
                                </p>
                                <blockquote> <%= testimonial.author %> - <%= testimonial.workplace %></blockquote>
                            </div>
                        <% end %>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial" data-slide-to="1"></li>
                        <li data-target="#testimonial" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===| Testimonial End|===-->
<% end %>